.chatroom {
    display: flex;
    height: 100vh;

    &-options {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: flex-end;
        justify-content: center;

        button {
            margin-top: 10px;
            width: 100%;
        }

        &-copy, &-destroy {
            width: 100%;
        }

        &-copy {
            display: flex;
            flex-direction: column;
            span {
                color: #13689a;
                font-weight: bold;
                text-align: center;
            }
        }
    }

    &-users {
        width: 200px;
        border: 1px solid #13689a;
        border-radius: 10px;
        padding: 10px;
        margin-left: 20px;
        height: 90vh;

        &-item {
            font-weight: bold;
            color: #13689a;
            margin-bottom: 10px;
        }
    }

    &-chat {
        flex: 1;
        height: 90vh;
        border: 1px solid #13689a;
        margin-left: 20px;
        border-radius: 10px;
        padding: 5px;

        &-messages {
            height: 80%;
            border: 1px solid #13689a;
            border-radius: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 5px;

            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border: 1px solid #13689a;
                border-radius: 10px;
                padding: 5px;
                margin-bottom: 10px;

                &-user {
                    font-weight: bold;
                    color: #13689a;
                }
            }
        }

        &-typing {
            height: 5%;
            display: flex;
            align-items: center;
            font-weight: bold;
            color: #13689a;
        }

        &-input {
            height: 15%;
            display: flex;

            &-textarea {
                height: 100%;
                width: 100%;
                border: 1px solid #13689a;
                border-radius: 10px;
                padding: 10px;
                resize: none;
                flex: 1;
            }

            &-btn {
                width: 200px;
                margin-left: 10px;
            }
        }
    }
}