<div class="chatroom">
    <div class="chatroom-options">
        <div class="chatroom-options-copy">
            <button (click)="onCopyChatRoom()">Copy Chatroom URL</button>
            <span *ngIf="copied">Copied</span>
        </div>
        <div class="chatroom-options-destroy">
            <button (click)="onDestroyChatRoom()">Destroy Chatroom</button>
        </div>
    </div>
    <div class="chatroom-users">
        <div class="chatroom-users-item" *ngFor="let user of joinedUsers">
            {{ user.username }}
        </div>
    </div>
    <div class="chatroom-chat">
        <div class="chatroom-chat-messages">
            <div 
                class="chatroom-chat-messages-item" 
                *ngFor="let message of messages" 
                [ngStyle]="{'align-items': user.id === message.user.id ? 'flex-end' : 'flex-start'}">
                <div class="chatroom-chat-messages-item-user">{{ message.user.username }}</div>
                <div class="chatroom-chat-messages-item-text">{{ message.message }}</div>
            </div>
        </div>
        <div class="chatroom-chat-typing">{{ typing.isTyping ? typing.user.username + ' Typing...' : ''}}</div>
        <div class="chatroom-chat-input">
            <textarea 
                row="4" 
                class="chatroom-chat-input-textarea"
                [(ngModel)]="message" 
                (input)="onWriteMessage($event)"></textarea>
            <button class="chatroom-chat-input-btn" (click)="onSend()">SEND</button>
        </div>
    </div>
</div>