<div class="login">
    <form [formGroup]="form" class="login-form">
        <input type="text" formControlName="username" placeholder="Username" />
        <input type="email" formControlName="email" placeholder="Email" />
        <button type="submit" (click)="onSubmit()">Submit</button>
        <div class="login-form-error" *ngIf="error">
            {{ error }}
        </div>
    </form>
</div>