.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-form {
        display: flex;
        flex-direction: column;

        input {
            padding: 20px;
            border: 1px solid #13689a;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        &-error {
            color: red;
            text-align: center;
            margin-top: 10px;
        }
    }
}