* {
    box-sizing: border-box;
}

button {
    background-color: #13689a;
    border: 0;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}